<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Listar Estudiantes</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container-sm">
  <h1>Lista de Estudiantes</h1>
  <a th:href="@{'/prueba/subir-prueba'}" class="btn btn-primary">Subir Prueba</a>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>RUT</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Fecha de Nacimiento</th>
      <th>Tipo de Colegio</th>
      <th>Nombre del Colegio</th>
      <th>Año de Egreso</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="estudiante : ${estudiantes}">
      <td th:text="${estudiante.rut_estudiante}"></td>
      <td th:text="${estudiante.nombre}"></td>
      <td th:text="${estudiante.apellido}"></td>
      <td th:text="${estudiante.fechaNacimiento}"></td>
      <td th:text="${estudiante.tipoColegio}"></td>
      <td th:text="${estudiante.nombreColegio}"></td>
      <td th:text="${estudiante.anioEgreso}"></td>
      <td>
        <div class="btn-group" role="group">
          <a th:if="${estudiante.arancel == null}" th:href="@{'/arancel/crear/' + ${estudiante.rut_estudiante}}" class="btn btn-primary">Crear Arancel</a>
          <!-- Verifica si el estudiante tiene matrícula -->
          <a th:if="${estudiante.arancel != null}" th:href="@{'/arancel/ver-arancel/' + ${estudiante.rut_estudiante}}" class="btn btn-primary">Ver Arancel</a>

          <!-- Agrega el botón "Ver Cuotas de Pago" si el estudiante tiene matrícula -->
          <a th:if="${estudiante.arancel != null}" th:href="@{'/cuotas/ver-cuotas/' + ${estudiante.rut_estudiante}}" class="btn btn-info">Ver Cuotas de Pago</a>
          <!-- Agrega el botón "Ver Pagos" con la ruta correspondiente -->
          <a th:if="${estudiante.arancel != null}" th:href="@{'/pagos/ver-pagos/' + ${estudiante.rut_estudiante}}" class="btn btn-warning">Ver Pagos</a>
          <a th:if="${estudiante.arancel != null}" th:href="@{'/prueba/ver-pruebas/' + ${estudiante.rut_estudiante}}" class="btn btn-secondary">Ver Pruebas</a>
          <!-- Agrega el botón para mostrar el resumen del estudiante -->
          <a th:if="${estudiante.arancel != null}" th:href="@{'/resumen-estudiante/' + ${estudiante.rut_estudiante}}" class="btn btn-success">Ver Resumen del Estudiante</a>

        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>