<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ver Cuotas de Pago</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container-sm">
    <h1>Cuotas de Pago</h1>

    <!-- Verificar si cuotas está vacía y mostrar mensaje -->
    <div th:if="${cuotas.isEmpty()}">
        <p>El usuario no tiene cuotas porque pagó al contado.</p>
    </div>

    <!-- Botón de pago cuota siguiente -->
    <a class="btn btn-success btnPagarCuotaSiguiente" th:if="${not cuotas.isEmpty()}" th:href="@{'/pagos/pagar-cuota/' + ${rutEstudiante}}">Pagar cuota siguiente</a>

    <!-- Verificar si cuotas no está vacía y mostrar la tabla -->
    <table class="table" th:if="${not cuotas.isEmpty()}">
        <thead class="thead-dark">
        <tr>
            <th>Número de cuota</th>
            <th>Id de la cuota</th>
            <th>Monto de Cuota</th>
            <th>Plazo Máximo de Pago</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cuota, cuotasStat : ${cuotas}">
            <td th:text="${cuotasStat.index + 1}"></td>
            <td th:text="${cuota.idCuota}"></td>
            <td th:text="${cuota.montoCuota}"></td>
            <td th:text="${cuota.plazoMaximoPago}"></td>
            <td th:text="${cuota.pagada ? 'Pagada' : 'Pendiente'}"></td>
            <td>
                <!-- No se muestra ningún botón de pago aquí -->
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{'/estudiante/listar-estudiantes'}" class="btn btn-primary">Volver a la Lista de Estudiantes</a>
</div>

</body>
</html>