<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ver Matrícula</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container-sm">
    <h1>Detalles de Matrícula</h1>
    <!-- Aquí muestra los detalles de la matrícula -->
    <p><strong>ID de Matrícula:</strong> <span th:text="${matricula.idMatricula}"></span></p>
    <p><strong>Fecha de Matrícula:</strong> <span th:text="${matricula.fechaMatricula}"></span></p>
    <p><strong>Monto de Matrícula:</strong> <span th:text="${matricula.montoMatricula}"></span></p>
    <p><strong>Número de Cuotas:</strong> <span th:text="${matricula.numeroCuotas}"></span></p>
    <p><strong>Estado de Matrícula:</strong> <span th:text="${matricula.estadoMatricula}"></span></p>
    <!-- Puedes mostrar más detalles aquí si es necesario -->
    <a th:href="@{'/listar-estudiantes'}" class="btn btn-primary">Volver a la lista de estudiantes</a>
</div>
</body>
</html>